# Build output
*build/
.fuse_*
/*dist/
version.py

# Python temporary files
*.egg-info/
*.pyc
*condaenv.*
.coverage
.coverage.*
.eggs
.ipynb_checkpoints/
.pytest_cache/
__pycache__/
htmlcov/

# Virtual environments
*venv/

# Visual Studio Code
.vscode/
*.code-workspace
